/*

  STYLES

  Add custom styles here.

*/
body{
	text-align: center;
	color: var(--near-black);
	background-color: var(--near-white);
}
.container{
	margin: 0 auto;
	background: var(--light-silver)
}
header{
	background: var(--red);
	/*background-image: linear-gradient(to bottom, var(--red) 25%, var(--gray));*/
	padding: .5em 0;
}

form{
	margin-bottom: 0;
}

input{
	background: var(--dark-gray);
	color: var(--white);
	box-shadow: inset var(--dark-gray) 0 -5px 5px, inset #131313 0 1px 5px, rgb(230, 45, 52) 0 1px 0;
	padding: 6px 10px;
	text-align: center;
}